/*IMPORTANDO FONTES*/
@import url('https://fonts.googleapis.com/css?family=Quattrocento');

body{ font-family: 'Quattrocento', serif;}

/**** JUMBOTRON ****/
.jumbotron{
    padding: 6rem 3rem;
    background-color: rgba(92,156,202,1);
}

.jumbo-text{
    letter-spacing: 10px;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

/***** HEADER PARA PESQUISA *****/
#header-products{
    padding: 20px;
}

#header-products .container{
    padding: 20px;
    /*border-top: 2px solid rgba(138,118,98, 1);
    border-bottom: 2px solid rgba(138,118,98, 1);*/
}

#search-ord{
    
}
#lista-cat{padding:0;}

#lista-cat a:hover{
    text-decoration: none;
}
.categories{
    /*text-align: center;*/
    font-size:24px;
    text-transform: uppercase;
}

.category-list  a{
    text-decoration: none;
    
}

.category-list > a:hover{
    color: black;
    transition: all .2s ease;
    border-bottom: 2px solid rgba(92,156,202, 1);
    padding-bottom: 1px;
    width: 30%;
}

#ordenar{
    margin-top: 11px;
    width: 100%;
    padding: 4px;
    font-size: 1.1em;
}

#search{
    outline:none;
    border:none;
    border-bottom: 2px solid rgba(138,118,98, 1);
}


/***** PARTE DE PRODUTOS *****/
#vitrine-products{
    /*margin-top: 15px;*/
    margin-bottom: 30px;
    padding: 10px;
}

/* PEGA TODAS AS COLUNAS COL-MD-* */
div[class^="col-md-"], div[class*="col-md-"]{
    margin-top: 15px;
}

.cartao{
    position: relative;
    /*border-radius: 8px 8px 0px 0px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;*/
    
}

.cartao img{
    max-width: 100%;
    width: 500px;
    height: 290px;
    object-fit: cover;   

}

.cartao-hover{
    position: absolute;
    bottom:0;
    left: 100%;
    right: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0, .4);
    overflow: hidden;
    width: 0;
    height: 100%;
}

.cartao:hover .cartao-hover{
    left: 0;
    width: 100%;
}

.texto-cartao{
    position: absolute;
    top: 50%;
    left: 50%;
    /*overflow:hidden;*/
    transform: translate(-50%, -50%); 
}

.legenda-prod{
    /*border-radius: 0 0 10px 10px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;*/
    padding: 0.85rem;
}

.description-t{
    font-size: 1.4em;
    font-style: normal;
}
.description-p{
    font-size: 1.3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.price{
    margin-top: 12px;
    font-size: 1.2em;
    line-height: 1.84em;
}

/* FAZENDO O SEPARADOR */
.separador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}


.separador::after{
    content: '';
    flex-grow: 1;
    position: relative;
    height: 2px;
    top: 0.3em;
     background-color: rgba(92,156,202, 1);
    margin: 0 0 0 5px;
}


.separador::before{
    content: '';
    flex-grow: 1;
    position: relative;
    height: 2px;
    top: 0.3em;
    background-color: rgba(92,156,202, 1);
    margin: 0 5px 0 0;
}


@media (min-width: 720px){
    #ordenar{
        width: 100%;
    }
}
