/*IMPORTANDO FONTES*/
@import url('https://fonts.googleapis.com/css?family=Quattrocento');

body{
    background: url(../img/fundologin.jpg);
    margin: 0;
    padding: 0;
    font-family: 'Quattrocento', serif;
}

.loginBox{

    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%); /* para ficar realmente no centro*/
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
}

.diamond{

    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
    z-index: 2;
    
}

.bar{position: relative;display: block; width: 250px;}

.bar::before, .bar::after{
    content: "";
    height: 2px;
    width: 0;
    bottom: 20px;
    position: absolute;
    background: rgba(255,64,129,1);
    transition: .2s ease all;
}

.bar:before{left: 50%;}
.bar:after{right: 50%;}

input:focus ~ .bar::before,
input:focus ~ .bar::after{
    width: 50%;
}

/* header*/
h2{
    margin:0;
    padding:0 0 20px;
    color:white;
    text-align: center;
}

.loginBox p{
    margin:0;
    padding:0;
    font-weight: bold;
    color: white;
}

.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"]
{
    border:none;
    border-bottom: 2px solid #fff;
    background:transparent;
    outline: none;
    width: 250px;
    height: 40px;
    color: #fff;
    font-size:16px ;
}

/* BARS - ANIMATION*/


/* mudando cor do placeholde*/
::placeholder{
    color: rgba(255,255,255, .5);
}

.loginBox input[type="submit"]{
    border:none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: rgba(92,156,202, 1);
    cursor: pointer;
    border-radius: 20px;

}

.loginBox input[type="submit"]:hover{
    transition: background .3s ease ;
    background: rgba(92,156,202, .6);
}

.loginBox a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}